* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
  text-align: center;
      color: #1b1b1b;
      padding: 10px;
}
p {
  font-size:14px;
  text-align: left;
}
p.teksts{
  position: relative;
  padding: 10px;
}
#first{
  background: #ffe6ea;
  border: 2px solid #bd2f18;
}
#second{
  background: #f6ffdd;
  border: 2px solid #5e6347;
}
#third{
  background: #ffeac4;
  border: 2px solid #814286;
}
#main{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      padding:25px 0;

}
.content{
      width: 30%;
      margin: 1%;
      float: left;
      position: relative;
      padding: 25px 5px 5px 5px;
      height: auto;
    }
.title{
  position: absolute;
  top: 0;
  min-width: 40%;
  font-weight: 400;
  text-align: center;
  right: 0;
  font-size: 20px;
  background: yellow;
  color: black;
  padding: 5px;
  border:3px solid black;
}
