* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
  text-align: center;
      color: #1b1b1b;
      padding: 25px;
      font-size:28px;
}
h2{
    font-size: 22px;
}
p {
  font-size:16px;
  text-align: left;
}
p.teksts{
  padding: 10px;
}
.content  {
  position: relative;
  width: 31%;
  margin: 1%;
  float: left;
  padding: 25px 5px 5px 5px;
  height: auto;
    }
.title  {
  position: absolute;
  top: 0;
  min-width: 35%;
  right: 0;
  padding: 1px 20px;
}
#main {
    position: absolute;
    width: 90%;
    margin: 10px 5%;
}
#first{
  background: #ffe6ea;
  border: 1px solid #bd2f18;
}
#second{
  background: #f6ffdd;
  border: 1px solid #5e6347;
}
#third{
  background: #ffeac4;
  border: 1px solid #814286;
}
#beef{
  background: #d43434;
  color: white;
  border: 1px solid #4e4e4e;
}
#chicken{
  background: #7f5040;
  color: white;
  border: 1px solid #000;
}
#vegan {
    background: #35792e;
    color: white;
    border: 1px solid #565656;
}
@media screen and (max-width: 991px){
  .content{
    width:48%;
  }
.content:nth-child(3){
  width:98%;
  clear:left;
}}
@media screen and (max-width: 767px){
.content{
  width:98%;
  clear:left;
}
p {
  font-size:14px;
}
h1 {
    padding: 0px;
    margin-top: 10px;
}
.title {
    text-align: center;
}}
