* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
  text-align: center;
      color: #1b1b1b;
      padding: 10px;
}
p {
  font-size:14px;
  text-align: left;
}
p.teksts{
  position: relative;
  padding: 10px;
}
.content  {
  width: 30%;
  margin: 1%;
  float: left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;
    }
.title  {
  position: absolute;
  top: 0;
  min-width: 35%;
  right: 0;
  font-size: 20px;
  padding: 1px 20px;
}
#main{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      padding:25px 0;
}
#first{
  background: #ffe6ea;
  border: 2px solid #bd2f18;
}
#second{
  background: #f6ffdd;
  border: 2px solid #5e6347;
}
#third{
  background: #ffeac4;
  border: 2px solid #814286;
}
#beef{
  background: #d43434;
  color: white;
  border: 2px solid #4e4e4e;
}
#chicken{
  background: #7f5040;
  color: white;
  border: 2px solid #000;
}
#vegan {
    background: #35792e;
    color: white;
    border: 2px solid #565656;
}
@media screen and (max-width: 992px)
#third.content{width:80%}
