* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  background-color: lightblue;
}
h1 {
  text-align: center;
      color: #1b1b1b;
      padding: 10px;
      margin: 0;
}
p {
  font-size:14px;
  text-align: left;
  color:black;
}
.content{
  max-width:30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;
  background: white;
  border:1px solid yellow;
}
.title{
  position: absolute;
  top: 0;
  min-width: 40%;
  font-weight: 400;
  text-align: center;
  right: 0;
  font-size: 20px;
  background: yellow;
  color: black;
  padding: 5px;
}
