* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: lightblue;
}
h1 {
  text-align: center;
      color: #1b1b1b;
      padding: 10px;
}
p {
  font-size:14px;
  text-align: left;
  color:black;
}
p.teksts{
  position: relative;
  padding: 10px;
}
.large_content{
      width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.small_content1{
  width: 30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;
  background: lightpink;
  border:1px solid #bd2f18;
}
.small_content2{
  width: 30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;
  background: lightblue;
  border:1px solid #2452b7;
}
.small_content3{
  width: 30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;
  background: lightorange;
  border:1px solid #814286;
}
.title{
  position: absolute;
  top: 0;
  min-width: 40%;
  font-weight: 400;
  text-align: center;
  right: 0;
  font-size: 20px;
  background: yellow;
  color: black;
  padding: 5px;
  border:3px solid black;
}
