* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  color: #1b1b1b;
  padding: 25px;
  font-size:1.75rem;
}
h2{
  font-size: 1.25rem;
}
p {
  font-size:1rem;
  text-align: left;
}
p.teksts{
  padding: 10px;
}
.content  {
  position: relative;
  width: 31%;
  margin: 1%;
  float: left;
  padding: 25px 5px 5px 5px;
  height: auto;
    }
.title  {
  position: absolute;
  top: 0;
  min-width: 35%;
  right: 0;
  padding: 3px;
}
#main {
  position: absolute;
  width: 90%;
  margin: 10px 5%;
}
#first{
  background: #ffe6ea;
  border: 1px solid black;
}
#second{
  background: #f6ffdd;
  border: 1px solid black;
}
#third{
  background: #ffeac4;
  border: 1px solid black;
}
#beef{
  background: #d43434;
  color: white;
  border: 1px solid black;
}
#chicken{
  background: #7f5040;
  color: white;
  border: 1px solid black;
}
#vegan {
  background: #35792e;
  color: white;
  border: 1px solid black;
}
@media screen and (max-width: 991px){
  .content{
    width:48%;}
  .content:nth-child(3){
    width:98%;
    clear:left;
}}
@media screen and (max-width: 767px){
  .content{
    width:98%;
    clear:left;}
}
