body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}
p {
  font-size:14px;
  color:black;
  text-align: center;
}
.content{
  width:30%;
  margin:10px;
  float:left;
  position: relative;
  padding:30px;
  height: auto;
  background: white;
  border:1px solid yellow;
}
.title{
  position: absolute;
  top: 0;
  right: 0;
  background: yellow;
  color:black;
  padding:10px;
  text-align: left;
}
