*
{box-sizing: border-box;
}
body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}
p {
  font-size:14px;
  text-align: left;
  color:black;
}
.content{
  max-width:30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;

  background: white;
  border:1px solid yellow;
}
.title{
  min-width:30%;
  position: absolute;
  top: 0;
  right: 0;
  background: yellow;
  color:black;
  padding:10px;
  text-align: left;
}
