body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}
p {
  font-size:14px;
  color:grey;
  text-align: center;
}
.content{
  position: relative;
  padding:30px;
  height:130px;
  background: grey;
  border:1px solid green;
}
.title{
  position: absolute;
  top: 0;
  right: 0;
  background: yellow;
  padding:10px;
}
