* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}
p {
  font-size:14px;
  text-align: left;
  color:black;
}
.content{
  max-width:30%;
  margin:10px;
  float:left;
  position: relative;
  padding: 25px 5px 5px 5px;
  height: auto;

  background: white;
  border:1px solid yellow;
}
.title{
    top: 0;
      min-width: 40%;
      font-weight: 600;
      right: 0;
      background: yellow;
      color: black;
      padding: 5px 5px 5px 25px;
      text-align: left;
}
